### Importação dos dados

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url1)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [2]:
faturamento_loja1 = loja1['Preço'].sum()
faturamento_loja2 = loja2['Preço'].sum()
faturamento_loja3 = loja3['Preço'].sum()
faturamento_loja4 = loja4['Preço'].sum()

In [3]:
faturamento_total = pd.DataFrame({
    'Loja': ['Loja 1', 'Loja 2', 'Loja 3', 'Loja 4'],
    'Faturamento': [faturamento_loja1, faturamento_loja2, faturamento_loja3, faturamento_loja4]
})

faturamento_total

     Loja  Faturamento
0  Loja 1   1534509.12
1  Loja 2   1488459.06
2  Loja 3   1464025.03
3  Loja 4   1384497.58

# 2. Vendas por Categoria

In [4]:
def vendas_por_categoria(df, loja_nome):
    vendas = df.groupby('Categoria do Produto')['Preço'].count().reset_index()
    vendas.columns = ['Categoria', 'Quantidade Vendida']
    vendas['Loja'] = loja_nome
    return vendas

In [5]:
vendas_loja1 = vendas_por_categoria(loja1, 'Loja 1')
vendas_loja2 = vendas_por_categoria(loja2, 'Loja 2')
vendas_loja3 = vendas_por_categoria(loja3, 'Loja 3')
vendas_loja4 = vendas_por_categoria(loja4, 'Loja 4')

In [6]:
vendas_por_categoria_total = pd.concat([
    vendas_loja1, vendas_loja2, vendas_loja3, vendas_loja4
])

In [7]:
vendas_pivot = vendas_por_categoria_total.pivot(
    index='Categoria', 
    columns='Loja', 
    values='Quantidade Vendida'
).fillna(0)

vendas_pivot

Loja                   Loja 1  Loja 2  Loja 3  Loja 4
Categoria
brinquedos                324     313     315     338
eletrodomesticos          312     305     278     254
eletronicos               448     422     451     451
esporte e lazer           284     275     277     277
instrumentos musicais     182     224     177     170
livros                    173     197     185     187
moveis                    465     442     499     480
utilidades domesticas     171     181     177     201

# 3. Média de Avaliação das Lojas

In [8]:
media_avaliacao_loja1 = loja1['Avaliação da compra'].mean()
media_avaliacao_loja2 = loja2['Avaliação da compra'].mean()
media_avaliacao_loja3 = loja3['Avaliação da compra'].mean()
media_avaliacao_loja4 = loja4['Avaliação da compra'].mean()

In [9]:
avaliacao_media = pd.DataFrame({
    'Loja': ['Loja 1', 'Loja 2', 'Loja 3', 'Loja 4'],
    'Média de Avaliação': [media_avaliacao_loja1, media_avaliacao_loja2, 
                          media_avaliacao_loja3, media_avaliacao_loja4]
})

avaliacao_media

     Loja  Média de Avaliação
0  Loja 1            3.976685
1  Loja 2            4.037304
2  Loja 3            4.048326
3  Loja 4            3.995759

# 4. Produtos Mais e Menos Vendidos

In [10]:
def produto_mais_vendido(df):
    contagem = df['Produto'].value_counts()
    return contagem.idxmax(), contagem.max()

def produto_menos_vendido(df):
    contagem = df['Produto'].value_counts()
    return contagem.idxmin(), contagem.min()

In [11]:
resultados = []
for idx, df in enumerate([loja1, loja2, loja3, loja4], start=1):
    produto_max, qtd_max = produto_mais_vendido(df)
    produto_min, qtd_min = produto_menos_vendido(df)
    
    resultados.append({
        'Loja': f'Loja {idx}',
        'Produto Mais Vendido': produto_max,
        'Quantidade (Mais Vendido)': qtd_max,
        'Produto Menos Vendido': produto_min,
        'Quantidade (Menos Vendido)': qtd_min
    })

resultado_final = pd.DataFrame(resultados)
resultado_final

,Loja,Produto Mais Vendido,Quantidade (Mais Vendido),Produto Menos Vendido,Quantidade (Menos Vendido)
0,Loja 1,Micro-ondas,60,Headset,33
1,Loja 2,Iniciando em programação,65,Jogo de tabuleiro,32
2,Loja 3,Kit banquetas,57,Blocos de montar,35
3,Loja 4,Cama box,62,Guitarra,33

# 5. Frete Médio por Loja

In [12]:
frete_medio = pd.DataFrame({
    'Loja': ['Loja 1', 'Loja 2', 'Loja 3', 'Loja 4'],
    'Frete Médio (R$)': [
        loja1['Frete'].mean(),
        loja2['Frete'].mean(),
        loja3['Frete'].mean(),
        loja4['Frete'].mean()
    ]
})

In [13]:
frete_medio['Diferença %'] = ((frete_medio['Frete Médio (R$)'] / frete_medio['Frete Médio (R$)'].mean() - 1) * 100).round(2)

frete_medio

     Loja  Frete Médio (R$)  Diferença %
0  Loja 1         34.691805         4.60
1  Loja 2         33.621941         1.37
2  Loja 3         33.074464        -0.28
3  Loja 4         31.278997        -5.69